<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    
</head>
<body>
    <div>
        <nav class ="navbar navbar-expand-lg navbar-light bg-light ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item navbar-link" href="{% url 'usermanagement:home_page' %}">ScaleUP</a>
                        <a class="nav-item navbar-link" href="{%url 'admin:index'%}">Admin</a>
                        <a class="nav-item navbar-link" href="{% url 'usermanagement:user_login' %}">Login</a>   
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="container">
        {% block body_block %}
        {% endblock %}
    </div>
    <footer></footer>
</body>
</html>
