{% extends "usermanagement/base.htm" %}
{% block body_block %}
  <link rel="stylesheet" href="static/home.css">
  
<body>
    <div>
        <h3 style="text-align:center; font-size:large;" >ScaleUP</h3>
        <p style="text-align:center;">An Account Management System</p>
    </div>
    <div class="bg1">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #120355;">Product Entry</span>
        </div>
    </div>
        
    <div style="position:relative;">
        <div style="color:#ddd;background-color:#073461;text-align:center;padding:50px 80px;text-align: justify;">
            <p>ScaleUP allows the admin to enter product details and track them as required.</p>
        </div>
    </div>
        
    <div class="bg2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #120355;">Customer Entry</span>
        </div>
    </div>
        
    <div style="position:relative;">
        <div style="color:#ddd;background-color:#073461;text-align:center;padding:50px 80px;text-align: justify;">
            <p>The system keeps records for every customer or dealer the product in linked with.</p>
        </div>
    </div>
            
    <div class="bg3">
        <div class="caption">
          <span class="border" style="background-color:transparent;font-size:25px;color: #120355;">Finance Management</span>
        </div>
    </div>
        
    <div style="position:relative;">
        <div style="color:#ddd;background-color:#073461;text-align:center;padding:50px 80px;text-align: justify;">
          <p>The system manages all your finances and keeps account for every transactions.</p>
        </div>
    </div>
        
    <div class="bg1">
        <div class="caption">
          <span class="border" style="background-color:transparent;font-size:25px;color: #120355;">And More...</span>
        </div>
    </div>
</body>

{% endblock %}