{% extends "usermanagement/base.htm" %}

{% block body_block %}

<div class="container" style="width: 500px; align-content:center; height:670px; padding:5%">
  <h1 class="display-5">Login Here</h1>
  <div class="form">
    
    <form action="{% url 'usermanagement:user_login' %}" method="POST">
        {% csrf_token %}
       
        <div class="form-outline">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="form1Example1" class="form-control" name="username" required/>
          
        </div>
      
        <div class="form-outline">
          <label class="form-label" for="password">Password</label>
          <input type="password" id="form1Example2" class="form-control" name="password" required/>
        </div>
      
      
        <div class="row mb-4">        
          <div class="col">
            <a href="/password_reset">Forgot password?</a>
          </div>
        </div>

        <button type="submit" class="btn btn-outline-info btn-block" value="Login" style="background-color: #023e4d; color:aliceblue; padding-bottom:10px">Login</button>
      </form>
      {% if messages %}
      <div class="card text-white bg-danger mb-3" style="padding: 10px;">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
      </div>  
      {% endif %}
  </div>
    
</div>
 {% endblock %}
 