<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-print-1.7.0/date-1.0.3/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="/static/jquery.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-print-1.7.0/date-1.0.3/r-2.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $('#customerTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            }); 
        } );
    </script>
    
</head>
<body>
    <div class="main-container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark pmd-navbar pmd-z-depth" id="navbar" style="background-color: #023e4d; ">
            <a href="{% url 'customermanagement:dashboard' %}" class="navbar-brand" style="font-size: 2rem; padding-left:2rem">ScaleUP</a>
            <div>
                <button class="btn btn-outline-info"><a class="navbar-link" href="{% url 'usermanagement:user_logout' %}" >Logout</a></button>
            </div>
            
            
        </nav>
        <div class="content-fluid">
            <div class="sidebar">
    
                <ul>
                    <li>
                        <a href="{% url 'customermanagement:dashboard' %}"><span class="las la-igloo"></span><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{% url 'customermanagement:index' %}"><span class="las la-users"></span><span>Customers</span></a>
                    </li>
                    <li>
                        <a href="{% url 'dealers:index' %}"><span class="las la-users"></span><span>Dealers</span></a>
                    </li>
                    <li>
                        <a href="{% url 'productmanagement:index' %}"><span class="las la-egg"></span><span>Products</span></a>
                    </li>
                    <li>
                        <a href="{% url 'productmanagement:transactions' %}"><span class="las la-money-bill"></span><span>Transactions</span></a>
                    </li>
                    <li>
                        <a href="{% url 'productmanagement:receipt_form' %}"><span class="las la-receipt"></span><span>Receipt</span></a>
                    </li>
                
                </ul>
            </div>  
            <div class="container-fluid" style="padding: 100px; ">
                {% block content %}
            
                {% endblock %}
            </div>     
        </div>
             
        
    </div>
    
</body>
</html>