{% extends "customer_management/base.htm"%}

{% block content %}
<div class="main-content" style="padding-left: 15%;">
    <header class="header">
        <div class="header-title">
            <h2>
                <label for="">
                    Dashboard
                </label>
            </h2>           
        </div>
        <hr>
    </header>
    <div>
        <div class="row">
            <div class="col mb-4">
                <div class="card text-white bg-info mb-3" id="total-dealers" >
                    <div class="card-body">
                      <h5 class="card-title">Total Dealers</h5>
                      <hr>
                      <p class="card-text"><h1 class="display-3">{{dealers}}</h1></p>
                      
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card text-white bg-info mb-3" id="total-customers" style="width: 25rem; height:12rem">
                    <div class="card-body">
                      <h5 class="card-title">Total Customers</h5>
                      <hr> 
                      <p class="card-text"><h1 class="display-3">{{customers}}</h1></p>
                      
                    </div>
                </div>
            </div>    
            <div class="col mb-4">
                <div class="card text-white bg-info mb-3" id="total-products" style="width: 25rem; height:12rem">
                    <div class="card-body">
                      <h5 class="card-title">Total Products</h5>     
                      <hr>                 
                      <p class="card-text"><h1 class="display-3">{{products}}</h1></p>
                      
                    </div>
                </div>
            </div>      
        </div>
        <div class="row">
            <div class="col mb-4">
                <div class="card" style="width: 52rem; ">
                    <canvas id="line-chart" style="height:34rem"></canvas>
                </div>
            </div>
            <div class="col mb-4" style="padding-left: 28px;">
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-success mb-3" id="new-dealer" style="width: 11rem; height:10rem">
                            <div class="card-body">
                              <h5 class="card-title">Dealers Today</h5>   
                              <hr>                       
                              <p class="card-text"><h5 class="display-6">{{recent_dealer}}</h5></p>                              
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-dark mb-3" id="new-dealer" style="width: 11rem; height:10rem">
                            <div class="card-body">
                              <h5 class="card-title">Oldest Dealer</h5> 
                              <hr>                         
                              <p class="card-text"><h5 class="display-6">{{oldest_dealer}} {{oldest_dealer.lastname}}</h5></p>                              
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card text-white bg-success mb-3" id="new-customer" style="width: 11rem; height:10rem">
                            <div class="card-body">
                              <h5 class="card-title">Customers Today</h5> 
                              <hr>                         
                              <p class="card-text"><h5 class="display-6">{{recent_customer}}</h5></p>                          
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-white bg-dark mb-3" id="new-customer" style="width: 11rem; height:10rem">
                            <div class="card-body">
                              <h5 class="card-title">Oldest Customer</h5>   
                              <hr>                       
                              <p class="card-text"><h5 class="display-6">{{oldest_customer}} {{oldest_customer.lastname}}</h5></p>                          
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row" style="padding-left:14px">
                    <div class="card text-white bg-primary mb-3" id="top-product" style="width: 24rem; height:12rem; ">
                        <div class="card-body">
                          <h5 class="card-title">Highest Item Count</h5>                          
                          <p class="card-text"><h1 class="display-3">{{top_product}}</h1></p>
                          
                        </div>
                    </div>
                </div>
            </div>            
            <script>                
                const data = {
                    labels:{{labels}},
                    datasets: [{
                        label: 'Customer Transaction',
                        data: {{data}},
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                };
                const config = {
                    type: 'line',
                    data: data,
                };
                window.onload = function() {
                  var ctx = document.getElementById('line-chart').getContext('2d');
                  window.myPie = new Chart(ctx, config);
                };
            </script>
        </div>
        <div class="row">
            <div class="col mb-4">
                <div >
                     <div class="row">                         
                        <div class="col mb-4">
                            <div class="card border-success mb-3" >
                                <div class="card-body">
                                  <h5 class="card-title">Paid to dealers</h5>   
                                  <hr>                       
                                  <p class="card-text"><h5 class="display-6">{{total_paid_dealer.paid_amount__sum}}</h5></p>                              
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">                             
                            <div class="card text-white bg-danger mb-3" >
                                <div class="card-body">
                                  <h5 class="card-title">Unpaid to Dealers</h5>                                   
                                  <hr>                                                          
                                  <p class="card-text"><h5 class="display-6">{{total_remaining_dealer.remaining_due__sum}}</h5></p>                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card border-success mb-3" >
                                <div class="card-body">
                                  <h5 class="card-title">Paid by Customer</h5>   
                                  <hr>                       
                                  <p class="card-text"><h5 class="display-6">{{total_paid_customer.paid_amount__sum}}</h5></p>                              
                                </div>
                            </div>
                         </div>
                         <div class="col mb-4">
                            <div class="card text-white bg-danger mb-3" >
                                <div class="card-body">
                                  <h5 class="card-title">Unpaid by Customer</h5>   
                                  <hr>                       
                                  <p class="card-text"><h5 class="display-6">{{total_remaining_customer.remaining_due__sum}}</h5></p>                              
                                </div>
                            </div>
                         </div>
                     </div>                    
                </div>
            </div>
            
        </div>
        
        
    </div>
</div>

{% endblock content %}