{% extends "customer_management/base.htm"%}

{% block content %}
<div class="main-content" style="padding-left: 15%;">
    <div class="header-title">
        <h2>
            <label>
                {{queryset.item_name}}
            </label>
        </h2>
        <hr>
    </div>    
    <div class="display_table">
        <table id='myTable' class="table table-hover">
            <caption>Item Details</caption>
                <thead>
                    <tr>
                        <th scope="col">ITEM</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col">UPLOADED ON</th>
                        
                        <th scope="col">SELL {{queryset.item_name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{queryset.item_name}}</td>
                        <td>{{queryset.quantity}}</td>
                        <td>{{queryset.last_updated}}</td>
                        
                        <td><a href='{% url "productmanagement:sellform" queryset.id %}'><div class='btn btn-danger'>SELL</div></a></td>
                    </tr>
                </tbody>
            
        </table>
    </div>
    <a href="{% url 'productmanagement:index' %}">Go Back</a>
</div>

{% endblock %}