{% extends "customer_management/base.htm"%}

{% block content %}
    <body>
        <div class="main-content" style="padding-left: 15%;">
            <div class="header-title">
                <h2>
                    <label>
                        Receipt Form 
                    </label>
                </h2>
                <a href="" onclick="printcontent()">Print</a>
                <script>
                    function printcontent() 
                    {  
                        var divContents = document.getElementById("receipt").innerHTML;  
                        var printWindow = window.open();  
                        printWindow.document.write('<html><head><title></title>');  
                        printWindow.document.write('</head><body >');  
                        printWindow.document.write(divContents);  
                        printWindow.document.write('</body></html>');  
                        printWindow.document.close();  
                        printWindow.print();  
                        printWindow.close();
                    }  
                </script>
                <hr>
            </div> 
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding" id="receipt">
                <div class="card">
                    <div class="card-header p-4">
                        
                        <div class="float-right">
                            <h3 class="mb-0">Invoice <input type="text" value="{{queryset.id}}"class="form-control"></h3>
                            Date: <input type="text" value="{{queryset.date}}"class="form-control">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <h2 class="mb-3">ScaleUp</h2>                                                   
                                <div>Shantinagar Kathmandu, Nepal</div>
                                <div>Email: scaleup@gmail.com</div>
                                <div>Phone: +977 9800000000</div>
                            </div>
                            <div class="col-sm-6 ">
                                <h4 class="mb-3">To:</h4>
                                <div>Name: <input type="text"class="form-control" name="name" value="{{queryset.customer.firstname}} {{queryset.customer.lastname}}"></div>
                                <div>Address: <input type="text"class="form-control" name="address" value="{{queryset.customer.address}}"></div>
                                <div>Email: <input type="email"class="form-control" name="email" value="{{queryset.customer.email_address}}"></div>
                                <div>Phone: <input type="number"class="form-control" value="{{queryset.customer.phone}}"></div>
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped" >
                                <caption>Receipt Form</caption>
                                <thead>
                                    <tr>
                                        <th class="center" scope="col">#</th>
                                        <th scope="col">Item</th>                                        
                                        <th class="right" scope="col">Rate</th>
                                        <th class="center" scope="col">Quantity</th>
                                        <th class="right" scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="additem">
                                        <td class="center">1</td>
                                        <td class="left strong">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" value="{{queryset.product.item_name}}">
                                            </div>                                            
                                        </td>                                        
                                        <td class="right">
                                            <div class="input-group mb-3">
                                                <input type="number" name="rate" class="form-control" id="rate" style="width: 100px;" value="{{queryset.product.rate}}">
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="input-group mb-3">
                                                <input type="number" name="quantity" class="form-control" id="quantity" style="width: 100px;" value="{{queryset.quantity}}">
                                            </div>                                            
                                        </td>
                                        <td class="right">
                                            <div class="input-group mb-3">
                                                
                                                <input type="text" id="amount" class="form-control"  name="amount" value="{{queryset.total_amount}}">
                                        
                                              </div>
                                              
                                        </td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5">
                            </div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>                                                                            
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">VAT (7%)</strong>
                                            </td>
                                            <td class="right">
                                                <div class="input-group mb-3">
                                                    
                                                    <input type="text" id="vat" class="form-control"  name="vat" style="width: 90px;" value="{{get_vat}}"/>                                            
                                                  </div>                                                
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Paid Amount</strong>
                                            </td>
                                            <td class="right">
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control" name="paid-amount" id="" style="width: 100px;" value="{{queryset.paid_amount}}">
                                                </div>                                                
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="mb-0">ScaleUp Kathmandu</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
    <style>        
        .padding {
            padding: 2rem !important
        }
        
        .card {
            margin-bottom: 30px;
            border: none;
            -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
            -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
            box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22)
        }
        
        .card-header {
            background-color: #fff;
            border-bottom: 1px solid #e6e6f2
        }
        
        h3 {
            font-size: 20px
        }
        
        h5 {
            font-size: 15px;
            line-height: 26px;
            color: #3d405c;
            margin: 0px 0px 15px 0px;
            font-family: 'Circular Std Medium'
        }
        
        .text-dark {
            color: #3d405c !important
        }
    </style>
{% endblock %}