
        
            :root{
                --main-color: #023e4d;
                --color-dark: #f8f8fa;
                text-decoration: none;
            }

            * {
                box-sizing: border-box;
                list-style-type: none;
                text-decoration: none;
                font-family: "Trirong", sans-serif;
            }

            .sidebar {
                height: 100%;
                background: #023e4d;
                padding-top: 100px;
                position: fixed;      
                display: block;    
                width: 250px;    
            }

            .sidebar ul li a{
                display: block;
                padding-right: 1.5rem;
                color: aliceblue;
                text-decoration: none;
            }
            #navbar a{               
                padding-right: 1rem;
                color: aliceblue;
                text-decoration: none;
            }
            
            .sidebar li{
                margin-bottom: 1rem;

            }

            .sidebar a{
                color: #fff;
                font-size: 1.1rem;
            }
            .sidebar a span:first-child{
                font-size: 1.5rem;
                padding-right: 1rem;
            }
            .header .header-title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0;
                
            }
            /* .container-fluid{
                display: block;
                padding-top: 100px;
                padding-bottom: 30px;
               
            } */
            


            
            


